@page "/Module"
@using Week6BlazerApp.Data.Models
@using Week6BlazerApp.Services
@inject ModuleService moduleService

<PageTitle>Module View</PageTitle>

<h3>Module View</h3>

<EditForm FormName="Form" Model=@module OnValidSubmit="HandleSubmit">
    <label for="CodeInput">Code</label>
    <InputText id="CodeInput" @bind-Value="@module.Code"></InputText>

    <label for="TitleInput">Title</label>
    <InputText id="TitleInput" @bind-Value="@module.Title"></InputText>

    <button type="submit" class="btn-primary">Create</button>

</EditForm>

@code {
    [SupplyParameterFromForm]
    Module module { get; set; } = new Module();

    public void HandleSubmit(EditContext editContext)
    {
        var newModule = (Module)editContext.Model;
        moduleService.Add(newModule);
    }
}
